<div class="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <div class="contact-item">
      <span class="icon">📧</span>
      <a href="mailto:aligr578@gmail.com">aligr578&#64;gmail.com</a>
    </div>
    <div class="contact-item">
      <span class="icon">📞</span>
      <a href="tel:+212 623735460">(+212) 623735460</a>
    </div>
    <div class="contact-item">
      <span class="icon">📍</span>
      <span>Errachidia, Morocco</span>
    </div>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/ali-grich-396754270/"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
</div>

