<div class="about">
<div class="container">
  <h2 id="About">About</h2>
  <p class="description">
    My name is Ali Grich, a 21-year-old engineering student from Morocco. I am in my final
    year of the engineering cycle in Computer Engineering.

  </p><br>
  <p class="description">    As a full-stack developer, I have honed my skills through various projects, from conception
    to realization, using technologies like Laravel, .NET Core, NestJS, Angular, etc.
  </p><br>
  <p class="description">    My goal is to continue growing in this dynamic field,
    contributing to impactful projects and advancing my expertise in both full-stack and AI development.
  </p>
</div>
</div>
