<div class="about">
<div class="container">
  <h2 id="About">About</h2>
  <p class="description">
    I am ali grich 21 years old from morocco,
     Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Voluptate saepe repellat rerum doloremque illo ex ipsa
      xcepturi, numquam a, natus harum expedita repellendus aut praesentium maxime eum eligendi quis unde.
     Ipsum illum error vitae nihil, fugit numquam odio natus
     ipsa quam modi, magni reprehenderit repudiandae facere itaque
     . Cupiditate itaque consequatur hic sunt ipsa facere fugit animi architecto omnis, similique dolor!
  </p>
</div>
</div>
