.navbar {
  background-color: #34353A;
  padding: 20px;

}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5em;
  color: #f0f0f0;
  text-decoration: none;
}

.nav-links{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li{
  margin: 0 12px;
}

.nav-links a{
  color: #8F8F8F;
  text-decoration: none;
  font-size: 1.2em;
}
.nav-links a:hover {
  text-decoration: underline;
  color: #D2D1D1;
}

.social-icons {
  display: flex;
}

.social-icons a {
  color: #f0f0f0;
  font-size: 1.5em;
  margin-left: 15px;
}

.linkedin-logo {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.github-logo {
  width: 30px;
  height: 30px;
}
