<nav class="navbar">
  <div class="container">
    <a href="#" class="logo">Logo</a>
    <ul class="nav-links">
      <li><a href="#About">About</a></li>
      <li><a href="#Skills">Skills</a></li>
      <li><a href="#Projects">Projects</a></li>
      <li><a href="#Projects">Contact</a></li>
    </ul>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/ali-grich-396754270/" class="linkedin" target="_blank">
        <img src="images/linkedin.png" class="linkedin-logo">
      </a>
      <a href="https://github.com/grichali" class="linkedin" target="_blank">
        <img src="images/github.png" class="github-logo">
      </a>
    </div>
  </div>
</nav>
